.container{
    margin-bottom: 100px;
}
.orrange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 50px;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom,#ff589b 0%, #ff136f 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}

.cat1,.cat2,.cat3{
padding: 10px 30px;
border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to bottom,#ff136f 0px, #ff589b 100px);
}
.cat2{
    background-image: linear-gradient(to bottom,#03da87 0px, #8ef5c2 100px);
}
.cat3{
    background-image: linear-gradient(to bottom,#ffac13 0px, #e9c371 100px);
}

.card{
border: none;
box-shadow: 5px 5px 10px lightgray;
}
